/*-- scss:defaults --*/


$presentation-font-size-root: 60px;


/*-- scss:rules --*/

.reveal .slide blockquote {
  border-left: 3px solid $text-muted;
  padding-left: 0.5em;
}

pre code {
    font-size: 1.5em;  /* Adjust the size as needed */
    line-height: 1.5;  /* Adjust the line height to avoid overlap */
    padding: 10px;     /* Add padding for better readability */
    white-space: pre-wrap;  /* Ensure long lines wrap properly */
    word-break: break-word; /* Break words to avoid overflow */
}

.reveal .output pre {
    font-size: 1.5em;  /* Adjust the font size of R output */
    line-height: 1.5;  /* Adjust the line height of R output */
    padding: 10px;     /* Add padding for R output */
    white-space: pre-wrap;  /* Ensure long lines wrap properly */
    word-break: break-word; /* Break words to avoid overflow */
    overflow: visible;  /* Ensure full output is displayed without scrolling */
    max-height: none;  /* Remove any max-height restrictions */
}

.main-container { max-width: unset; }

